.main {
    width: 80%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.main-header {
    font-weight: 700;
    font-style: italic;
}
